In [15]:
library(tidyverse)

In [16]:
bankdata <- read_csv2("data/bank_additional_full.csv") 
bankdata

Using ',' as decimal and '.' as grouping mark. Use read_delim() for more control.

Parsed with column specification:
cols(
  .default = col_character(),
  age = col_double(),
  duration = col_double(),
  campaign = col_double(),
  pdays = col_double(),
  previous = col_double(),
  emp.var.rate = col_number(),
  cons.price.idx = col_number(),
  cons.conf.idx = col_number(),
  euribor3m = col_number(),
  nr.employed = col_double()
)

See spec(...) for full column specifications.

Warning message:
“33425 parsing failures.
 row         col               expected actual                            file
7764 nr.employed no trailing characters     .1 'data/bank_additional_full.csv'
7765 nr.employed no trailing characters     .1 'data/bank_additional_full.csv'
7766 nr.employed no trailing characters     .1 'data/bank_additional_full.csv'
7767 nr.employed no trailing characters     .1 'data/bank_additional_full.csv'
7768 nr.employed no trailing characters     .1 'data/bank_additional_full.csv'
.... ........... ...................... ...... ...............................
See problems(...) for more details.
”

      age job           marital  education           default housing loan
1     56  housemaid     married  basic.4y            no      no      no
2     57  services      married  high.school         unknown no      no
3     37  services      married  high.school         no      yes     no
4     40  admin.        married  basic.6y            no      no      no
5     56  services      married  high.school         no      no      yes
6     45  services      married  basic.9y            unknown no      no
7     59  admin.        married  professional.course no      no      no
8     41  blue-collar   married  unknown             unknown no      no
9     24  technician    single   professional.course no      yes     no
10    25  services      single   high.school         no      yes     no
11    41  blue-collar   married  unknown             unknown no      no
12    25  services      single   high.school         no      yes     no
13    29  blue-collar   single   high.school         no      no      yes
14    57  housemaid     divorced basic.4y            no      yes     no
15    35  blue-collar   married  basic.6y            no      yes     no
16    54  retired       married  basic.9y            unknown yes     yes
17    35  blue-collar   married  basic.6y            no      yes     no
18    46  blue-collar   married  basic.6y            unknown yes     yes
19    50  blue-collar   married  basic.9y            no      yes     yes
20    39  management    single   basic.9y            unknown no      no
21    30  unemployed    married  high.school         no      no      no
22    55  blue-collar   married  basic.4y            unknown yes     no
23    55  retired       single   high.school         no      yes     no
24    41  technician    single   high.school         no      yes     no
25    37  admin.        married  high.school         no      yes     no
26    35  technician    married  university.degree   no      no      yes
27    59  technician    married  unknown             no      yes     no
28    39  self-employed married  basic.9y            unknown no      no
29    54  technician    single   university.degree   unknown no      no
30    55  unknown       married  university.degree   unknown unknown unknown
⋮     ⋮   ⋮             ⋮        ⋮                   ⋮       ⋮       ⋮
41159 35  technician    divorced basic.4y            no      no      no
41160 35  technician    divorced basic.4y            no      yes     no
41161 33  admin.        married  university.degree   no      no      no
41162 33  admin.        married  university.degree   no      yes     no
41163 60  blue-collar   married  basic.4y            no      yes     no
41164 35  technician    divorced basic.4y            no      yes     no
41165 54  admin.        married  professional.course no      no      no
41166 38  housemaid     divorced university.degree   no      no      no
41167 32  admin.        married  university.degree   no      no      no
41168 32  admin.        married  university.degree   no      yes     no
41169 38  entrepreneur  married  university.degree   no      no      no
41170 62  services      married  high.school         no      yes     no
41171 40  management    divorced university.degree   no      yes     no
41172 33  student       married  professional.course no      yes     no
41173 31  admin.        single   university.degree   no      yes     no
41174 62  retired       married  university.degree   no      yes     no
41175 62  retired       married  university.degree   no      yes     no
41176 34  student       single   unknown             no      yes     no
41177 38  housemaid     divorced high.school         no      yes     yes
41178 57  retired       married  professional.course no      yes     no
41179 62  retired       married  university.degree   no      no      no
41180 64  retired       divorced professional.course no      yes     no
41181 36  admin.        married  university.degree   no      no      no
41182 37  admin.        married  university.degree   no      yes     no
41183 29  unemployed    single   basic.4y            no      yes     no
41184 73  retired       married  professional.course no      yes     no
41185 46  blue-collar   married  professional.course no      no      no
41186 56  retired       married  university.degree   no      yes     no
41187 44  technician    married  professional.course no      no      no
41188 74  retired       married  professional.course no      yes     no
      contact   month day_of_week ⋯ campaign pdays previous poutcome
1     telephone may   mon         ⋯ 1        999   0        nonexistent
2     telephone may   mon         ⋯ 1        999   0        nonexistent
3     telephone may   mon         ⋯ 1        999   0        nonexistent
4     telephone may   mon         ⋯ 1        999   0        nonexistent
5     telephone may   mon         ⋯ 1        999   0        nonexistent
6     telephone may   mon         ⋯ 1        999   0        nonexistent
7     telephone may   mon         ⋯ 1        999   0        nonexistent
8     telephone may   mon         ⋯ 1        999   0        nonexistent
9     telephone may   mon         ⋯ 1        999   0        nonexistent
10    telephone may   mon         ⋯ 1        999   0        nonexistent
11    telephone may   mon         ⋯ 1        999   0        nonexistent
12    telephone may   mon         ⋯ 1        999   0        nonexistent
13    telephone may   mon         ⋯ 1        999   0        nonexistent
14    telephone may   mon         ⋯ 1        999   0        nonexistent
15    telephone may   mon         ⋯ 1        999   0        nonexistent
16    telephone may   mon         ⋯ 1        999   0        nonexistent
17    telephone may   mon         ⋯ 1        999   0        nonexistent
18    telephone may   mon         ⋯ 1        999   0        nonexistent
19    telephone may   mon         ⋯ 1        999   0        nonexistent
20    telephone may   mon         ⋯ 1        999   0        nonexistent
21    telephone may   mon         ⋯ 1        999   0        nonexistent
22    telephone may   mon         ⋯ 1        999   0        nonexistent
23    telephone may   mon         ⋯ 1        999   0        nonexistent
24    telephone may   mon         ⋯ 1        999   0        nonexistent
25    telephone may   mon         ⋯ 1        999   0        nonexistent
26    telephone may   mon         ⋯ 1        999   0        nonexistent
27    telephone may   mon         ⋯ 1        999   0        nonexistent
28    telephone may   mon         ⋯ 1        999   0        nonexistent
29    telephone may   mon         ⋯ 2        999   0        nonexistent
30    telephone may   mon         ⋯ 1        999   0        nonexistent
⋮     ⋮         ⋮     ⋮           ⋱ ⋮        ⋮     ⋮        ⋮
41159 cellular  nov   tue         ⋯ 1        999   0        nonexistent
41160 cellular  nov   tue         ⋯ 1          9   4        success
41161 cellular  nov   tue         ⋯ 1        999   0        nonexistent
41162 cellular  nov   tue         ⋯ 1        999   1        failure
41163 cellular  nov   tue         ⋯ 2          4   1        success
41164 cellular  nov   tue         ⋯ 3          4   2        success
41165 cellular  nov   tue         ⋯ 2         10   1        success
41166 cellular  nov   wed         ⋯ 2        999   0        nonexistent
41167 telephone nov   wed         ⋯ 1        999   1        failure
41168 cellular  nov   wed         ⋯ 3        999   0        nonexistent
41169 cellular  nov   wed         ⋯ 2        999   0        nonexistent
41170 cellular  nov   wed         ⋯ 5        999   0        nonexistent
41171 cellular  nov   wed         ⋯ 2        999   4        failure
41172 telephone nov   thu         ⋯ 1        999   0        nonexistent
41173 cellular  nov   thu         ⋯ 1        999   0        nonexistent
41174 cellular  nov   thu         ⋯ 1        999   2        failure
41175 cellular  nov   thu         ⋯ 1          1   6        success
41176 cellular  nov   thu         ⋯ 1        999   2        failure
41177 cellular  nov   thu         ⋯ 1        999   0        nonexistent
41178 cellular  nov   thu         ⋯ 6        999   0        nonexistent
41179 cellular  nov   thu         ⋯ 2          6   3        success
41180 cellular  nov   fri         ⋯ 3        999   0        nonexistent
41181 cellular  nov   fri         ⋯ 2        999   0        nonexistent
41182 cellular  nov   fri         ⋯ 1        999   0        nonexistent
41183 cellular  nov   fri         ⋯ 1          9   1        success
41184 cellular  nov   fri         ⋯ 1        999   0        nonexistent
41185 cellular  nov   fri         ⋯ 1        999   0        nonexistent
41186 cellular  nov   fri         ⋯ 2        999   0        nonexistent
41187 cellular  nov   fri         ⋯ 1        999   0        nonexistent
41188 cellular  nov   fri         ⋯ 3        999   1        failure
      emp.var.rate cons.price.idx cons.conf.idx euribor3m nr.employed y
1     11           93994          -364          4857      5191        no
2     11           93994          -364          4857      5191        no
3     11           93994          -364          4857      5191        no
4     11           93994          -364          4857      5191        no
5     11           93994          -364          4857      5191        no
6     11           93994          -364          4857      5191        no
7     11           93994          -364          4857      5191        no
8     11           93994          -364          4857      5191        no
9     11           93994          -364          4857      5191        no
10    11           93994          -364          4857      5191        no
11    11           93994          -364          4857      5191        no
12    11           93994          -364          4857      5191        no
13    11           93994          -364          4857      5191        no
14    11           93994          -364          4857      5191        no
15    11           93994          -364          4857      5191        no
16    11           93994          -364          4857      5191        no
17    11           93994          -364          4857      5191        no
18    11           93994          -364          4857      5191        no
19    11           93994          -364          4857      5191        no
20    11           93994          -364          4857      5191        no
21    11           93994          -364          4857      5191        no
22    11           93994          -364          4857      5191        no
23    11           93994          -364          4857      5191        no
24    11           93994          -364          4857      5191        no
25    11           93994          -364          4857      5191        no
26    11           93994          -364          4857      5191        no
27    11           93994          -364          4857      5191        no
28    11           93994          -364          4857      5191        no
29    11           93994          -364          4857      5191        no
30    11           93994          -364          4857      5191        no
⋮     ⋮            ⋮              ⋮             ⋮         ⋮           ⋮
41159 -11          94767          -508          1035      NA          yes
41160 -11          94767          -508          1035      NA          yes
41161 -11          94767          -508          1035      NA          yes
41162 -11          94767          -508          1035      NA          no
41163 -11          94767          -508          1035      NA          no
41164 -11          94767          -508          1035      NA          yes
41165 -11          94767          -508          1035      NA          yes
41166 -11          94767          -508           103      NA          yes
41167 -11          94767          -508           103      NA          yes
41168 -11          94767          -508           103      NA          no
41169 -11          94767          -508           103      NA          no
41170 -11          94767          -508           103      NA          no
41171 -11          94767          -508           103      NA          no
41172 -11          94767          -508          1031      NA          yes
41173 -11          94767          -508          1031      NA          yes
41174 -11          94767          -508          1031      NA          yes
41175 -11          94767          -508          1031      NA          yes
41176 -11          94767          -508          1031      NA          no
41177 -11          94767          -508          1031      NA          no
41178 -11          94767          -508          1031      NA          no
41179 -11          94767          -508          1031      NA          yes
41180 -11          94767          -508          1028      NA          no
41181 -11          94767          -508          1028      NA          no
41182 -11          94767          -508          1028      NA          yes
41183 -11          94767          -508          1028      NA          no
41184 -11          94767          -508          1028      NA          yes
41185 -11          94767          -508          1028      NA          no
41186 -11          94767          -508          1028      NA          no
41187 -11          94767          -508          1028      NA          yes
41188 -11          94767          -508          1028      NA          no

In [19]:
bankdata_tidy <- select(bankdata,age,duration,campaign,y)
bankdata_tidy

      age duration campaign y
1     56  261      1        no
2     57  149      1        no
3     37  226      1        no
4     40  151      1        no
5     56  307      1        no
6     45  198      1        no
7     59  139      1        no
8     41  217      1        no
9     24  380      1        no
10    25   50      1        no
11    41   55      1        no
12    25  222      1        no
13    29  137      1        no
14    57  293      1        no
15    35  146      1        no
16    54  174      1        no
17    35  312      1        no
18    46  440      1        no
19    50  353      1        no
20    39  195      1        no
21    30   38      1        no
22    55  262      1        no
23    55  342      1        no
24    41  181      1        no
25    37  172      1        no
26    35   99      1        no
27    59   93      1        no
28    39  233      1        no
29    54  255      2        no
30    55  362      1        no
⋮     ⋮   ⋮        ⋮        ⋮
41159 35   363     1        yes
41160 35   514     1        yes
41161 33   843     1        yes
41162 33   510     1        no
41163 60   347     2        no
41164 35   385     3        yes
41165 54  1868     2        yes
41166 38   403     2        yes
41167 32   651     1        yes
41168 32   236     3        no
41169 38   144     2        no
41170 62   154     5        no
41171 40   293     2        no
41172 33   112     1        yes
41173 31   353     1        yes
41174 62   329     1        yes
41175 62   208     1        yes
41176 34   180     1        no
41177 38   360     1        no
41178 57   124     6        no
41179 62   483     2        yes
41180 64   151     3        no
41181 36   254     2        no
41182 37   281     1        yes
41183 29   112     1        no
41184 73   334     1        yes
41185 46   383     1        no
41186 56   189     2        no
41187 44   442     1        yes
41188 74   239     3        no

In [31]:
deposite_or_not <- bankdata_tidy %>%
group_by(y) %>%
summarize(age_average = mean(age, na.rm = FALSE),
          duration_average = mean(duration, na.rm = FALSE),
          campaign_average = mean(campaign, na.rm = FALSE))
deposite_or_not

`summarise()` ungrouping output (override with `.groups` argument)

  y   age_average duration_average campaign_average
1 no  39.91119    220.8448         2.633085
2 yes 40.91315    553.1912         2.051724

[1] 2

In [49]:
summary_yes <- bankdata_tidy %>%
            filter( y == "yes")  %>%
            group_by(y)  %>%
            summarize(n = n())

summary_no <- bankdata_tidy %>%
            filter( y == "no")  %>%
            group_by(y)  %>%
            summarize(n = n())

summary_n <- merge(summary_no, summary_yes,  all = T)
summary_n

`summarise()` ungrouping output (override with `.groups` argument)

`summarise()` ungrouping output (override with `.groups` argument)

  y   n
1 no  36548
2 yes  4640

In [50]:
summary <- merge(deposite_or_not,summary_n,all = T)
summary

  y   age_average duration_average campaign_average n
1 no  39.91119    220.8448         2.633085         36548
2 yes 40.91315    553.1912         2.051724          4640